body, html {
	width: 100%;
	padding: 0;
}
body {
  background-color: #f2f2f2;
    font-family: $font-family-sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-sans-serif;
    font-weight: 800;
    color: #FFFFFF;
}
// Typography & Responsive Font Sizing
// Font Sizing
p, label {
  @include font-size($p-font-sizes);
}
h1 {
  @include font-size($h1-font-sizes);
}
h2, .logo {
  @include font-size($h2-font-sizes)
}
h3, .h3 {
  @include font-size($h3-font-sizes)
}
h4, .h4 {
  @include font-size($h4-font-sizes)
}
p {
    line-height: 28px;
    margin-bottom: 25px;
}
/* a button {
	color: #FFFFFF;
	&:hover{
		color: $body-bg;		
		transition: color 0.1s ease-in, background 0.1s ease-in;
	}
} */
/* button {	
	background-color: transparent;
	box-shadow: 0 4px 6px 0 rgba(0,0,0,0.50);
	border-radius: 8px;	
	font-family: $font-family-sans-serif;
	font-size: 18px;
	text-shadow: $text-shadow;
	padding: .85em 1.8em;	
	border: 1px solid white;	
	color: $body-bg;
} */
// Links
button{ 
	background-color: transparent;
	box-shadow: 0 4px 6px 0 rgba(0,0,0,0.50);
	border-radius: 8px;	
	font-family: $font-family-sans-serif;
	font-size: 18px;
	text-shadow: $text-shadow;
	padding: .85em 1.8em;	
	border: 1px solid white;	
	color: #FFFFFF;   
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
&a:hover,
&a:focus {
    color: #015581;
    background-color: rgba(255,255,255,0.5);
    text-decoration: none;
    outline: 0;
}
&a:before,
&a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
	}
}
// ********** LANDING PAGE *********
#landing {
	display: flex;
	align-items: center;
  	justify-content: center;
  	flex-direction: column;
  	wrap: wrap;
}
#landing .container-fluid {
	display: flex;
	align-items: center;
  	justify-content: center;  	
} 
#landingText {		
     border: 2px solid #FFFFFF;	
	border-radius: 5%;
	background-color: rgba(255,255,204,.5);
	padding-left: 15px;
	padding-right: 15px;	
}
#landingText h1 {
	font-size: 5em;
	font-weight: 800;
	color: #015581;
	-webkit-text-stroke: 2px #A9A9A9;
	text-shadow: $text-shadow;
}
#landingText h2 {
	font-size: 2.5em;
	font-weight: 800;
	-webkit-text-stroke: 2px #A9A9A9;
	text-shadow: $text-shadow;
	color: #015581;
}
 #landingText button {
	margin: 0 auto;
	display: block;
	background-color: rgba(255,0,0,.3);
	box-shadow: 0 4px 6px 0 rgba(0,0,0,0.50);
	border-radius: 8px;	
	font-family: $font-family-sans-serif;
	/* font-size: 18px; */
	text-shadow: $text-shadow;
	padding: .85em 1.8em;	
	border: 1px solid white;	
	color: #FFFFFF;   
    	word-wrap: none;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
&:hover,
&:focus {
    color: #015581;
    background-color: rgba(255,255,255,0.5);
    text-decoration: none;
    outline: 0;
}
&:before,
&:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
	}
}
@media screen and (orientation: landscape) {
#landing {
    	background: url(../images/WomenofCambodia.jpg) no-repeat left;
    	background-size: cover;
	max-width: 100%;
	height: 100vh;		
	margin: 0 auto;
	}
}
@media screen and (orientation: portrait) {
#landing {
    	background: url(../images/WomenofCambodia.jpg) no-repeat left;
    	background-size: cover;
	max-width: 100%;
	height: 100vh;		
	margin: 0 auto;
	}
}
@media (max-width: 768px) {
  #landing {
  	padding-top: 8.5em;
  	h1 {    
    		font-size:2.5em;
    	}
  	h2{
  		font-size: 1em;
  		}
	}
}
// ********** Verse **********

#verse  {
	padding-top:1.85em;
	color: #344953;
	blockquote {
		font-size: 3em;	
		font-family:'Arizonia', cursive;
		border: 0;
	}
}
//********** ABOUT **********
#about, #gallery {
	background: $body-bg;
	padding-top: 60px;
	padding-bottom: 60px;
	color: white;
} 
// ********** What **********
#what{
	padding-top: 60px;
	padding-bottom: 60px;
	h1, h4 {
	color: #34495e; 
	}
	h4:nth-of-type(2) {
	font-weight: 400;
	}
}
//wrap image so we can hover overlay it
.imgWrapper {
	position: relative;  	
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.imgWrapper:hover .image {
  opacity: 0.3;
}
.imgWrapper:hover .middle {
  opacity: 1;
}
.imgWrapper .col-lg-4.text-center button { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   right: 0;
   width: 60%;
   margin: 0 auto;
   color: #FFFFFF; 
   word-wrap: none; 
   white-space: nowrap;  
   &:hover,
   &:focus {
    color: #015581;
    text-decoration: none;
    outline: 0;
}
&:before,
&:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
	}
}
 // ********** GALLERY **********
blockquote:last-of-type {
	font-size: 2em;	
	font-family:'Arizonia', cursive;
	border: 0;
}
// **********  FOOTER **********
 footer {
 	background: #000; 	
 	text-align:center;
 	font-size:1.2rem;
 	padding:2rem;
 	a{
 	color: #ffc;
 	}
 	p:first-of-type {
 	color: #F2C18F;
 	}
 }  
 footer .links a {
 	list-style:none;
 	display:inline-block;
 	font-weight:bold;
 	padding:.5rem 20px .5rem 20px;
 	margin:0 auto;
 } 
.well {
	border-radius: 8px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	margin-top: 20px;
	background-color: rgba(245, 245, 245, 0.4);
}